body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
  }
  a {
    color: var(--bs-blue);
  }

.FontTheme {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    margin: 5%;
}